
#  BeingHappy Status Server configuration

service-name        Stats-Server
service-prefix      "/beinghappy/status"
service-file-path   "stats"
service-port        9999
server-url          "https://violent.blue"

database-uri        "psql://happylabsadmin:happylabsadmin@localhost:5432/happylabsdatabase"
debug-mode-on       true
production-mode-on  false

log-level           LogLevelAll
# log-name          "Stats-Server.log"
