{{define "HTTPDeepLink.html"}}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=device-width, minimal-ui">
<link rel="icon" type="image/png" href="favicon.png">
<link rel="stylesheet" type="text/css" href="style.css">
<title>{{.AppName}}</title>
<script  type="text/javascript">

var appDeepLink = "{{.AppDeepLink}}";
var autoOpenDeepLink = {{.AutoOpenDeepLink}};

function getCookie(cname) {
    'use strict';
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for (var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) === ' ') { c = c.substring(1); }
        if (c.indexOf(name) === 0) { return c.substring(name.length, c.length); }
    }
    return "";
}
function setCookieWithMinutes(cname, cvalue, expiremin) {
    'use strict';
    var d = new Date();
    d.setTime(d.getTime() + (expiremin*60*1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + "; " + expires;
}
function getParameterByName(name, url) {
    'use strict';
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}
var checkForAppTimeoutTime;
var checkForAppTimeout;
var originalLocation=window.location;
function checkForAppFailed() {
    'use strict';
    clearTimeout(checkForAppTimeout);
    checkForAppTimeout = null;
    if ( (new Date()).getTime() < checkForAppTimeoutTime) {
        setCookieWithMinutes("hasApp", 'false', 5);
    }
    window.location="{{.AppStoreLink}}";
}
function checkForApp() {
    'use strict';
    if (!autoOpenDeepLink) {
        return;
    }
    clearTimeout(checkForAppTimeout);
    checkForAppTimeout = null;

    //  Get the last link?
    var getLastDeepLink = getParameterByName("getlast");
    if (getLastDeepLink === 'true') {
        var lastDeepLink = getCookie('lastDeepLink');
        if (lastDeepLink.length > 0) {
            setCookieWithMinutes('lastDeepLink', "", 0);
            window.location = lastDeepLink;
            return;
        }
    }
    setCookieWithMinutes('lastDeepLink', appDeepLink, 60);
    checkForAppTimeoutTime = (new Date()).getTime() + 200;
    checkForAppTimeout = window.setTimeout(checkForAppFailed, 100);
    try {
        window.location=appDeepLink;
    } catch (err) {
        window.location="{{.AppStoreLink}}";
    }

}
window.onload = checkForApp;

</script>
</head>
<body>
<br><br>
<img src="Logo.png" alt="Logo" width="240">
<br><br>
<div id='message-box'>
{{.Message}}
<br><br>
This is a {{.AppName}} iOS app link.<br>
Open this link on your iOS device.
<br><br>
<div id="get-it">
<em>
Don't have {{.AppName}}?
<br><a href="{{.AppStoreLink}}">Get it here.</a>
</em>
</div>
<br><br>
<a href="{{.AppDeepLink}}">Try opening this link anyway.</a>
</div>

</body>
</html>
{{end}}
