{{define "SendMessage.html"}}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=device-width, minimal-ui">
<link href="./favicon.png"  type="image/png" rel="shortcut icon">
<title>{{ .AppName }} : System Message</title>
<link rel="stylesheet" type="text/css" href="style-admin.css">
<script src="script.js"></script>
</head>

<body>
<div id="header">
<a href="../admin">
<div>
<img id="logo" src="../Logo.png" alt="Logo">
<div>
<span id="app-name">{{.AppName}}</span>
</div>
</div>
</a>
</div>


<div id="stats-body">
<h1>Send System Message</h1>
<div id='form-div'>
<br>

<form method="post" action="message">
<p class="error"> {{ .MessageText }} </p>
<label><!-- messageText -->
<input type="text" placeholder="Message Body" name="messageText"/>
</label>
<br>

<p class="error"> {{ .ActionIcon }} </p>
<label><!-- Icon Name -->
<input type="text" placeholder="Icon Name" name="actionIcon"/>
</label>
<br>

<p class="error"> {{ .ActionURL }} </p>
<label><!-- actionURL -->
<input type="text" placeholder="Action URL" name="actionURL"/>
</label>
<br>

<input type="submit" value="Send" class="submit">
</form>
</div>
</div>

</body>
</html>
{{end}}
