
#  BeingHappy Signup-Server configuration

service-name        Signup-Server
service-prefix      "/beinghappy/signup"
service-file-path   "signup"
service-port        9898
server-url          "https://violent.blue"

database-uri        "psql://happylabsadmin:happylabsadmin@localhost:5432/happylabsdatabase"
debug-mode-on       true

log-level           LogLevelAll
# log-name            "Signup-Server.log"
