{{define "UpdateProfile.html"}}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=device-width, minimal-ui">
<link href="../favicon.png"  type="image/png" rel="shortcut icon">
<title>{{ .AppName }} : Update Profile</title>
<link rel="stylesheet" type="text/css" href="../style-admin.css">
<script src="../script.js"></script>
<style>
td:nth-child(1) {
    text-align: right;
}
pre {
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0;
}
td
    {
    vertical-align: text-bottom;
    }
table
    {
    border: 1px solid #7f7f7f;
    }
</style>
</head>

<body>
<div id="header">
<a href="../admin">
<div>
<img id="logo" src="../Logo.png" alt="Logo">
<div>
<span id="app-name">{{.AppName}}</span>
</div>
</div>
</a>
</div>

<div id="stats-body">
<h1>User Profile</h1>
<div id='form-div'>

<p class="error">{{.ErrorMessage}}</p>

{{if .Profile}}
    <form method="post" action="updateprofile">
    <label>
    <input type="hidden"
        placeholder="UserID"
        name="UserID"
        value="{{.Profile.UserID}}"
        />
    </label>

    <label>
    <input type="checkbox"
        name="EraseUser"
        value="EraseUser"
        ><b style="color: red;">Erase User</b>
    </label>
    <br>
    <br>

    <label>
    <input type="text"
        placeholder="Name"
        name="Name"
        value="{{.Profile.Name}}"
        />
    </label>
    <br>

    <label>
    <textarea style='height: 4.5em;'
        placeholder="Expertise"
        name="Expertise"
    >{{.Expertise}}</textarea>
    </label>
    <br>

    <label>
    <textarea style='height: 14.10em;'
        placeholder="Background"
        name="BackgroundSummary"
        >{{StringPtr .Profile.BackgroundSummary}}</textarea>
    </label>
    <br>

    <h2>Work Experience</h2>
    <label>
    <input type="hidden"
        name="JobCount"
        value="{{len .Profile.Employment}}"
        />
    </label>
    {{range $index, $element := .Profile.Employment}}
        <table>
        <tr>
            <td>Job Title:  </td>
            <td><input type="text" name="Job-JobTitle-{{$index}}" value="{{StringPtr $element.JobTitle}}"/></td>
        </tr>
        <tr>
            <td>Company:</td>
            <td><input type="text" name="Job-CompanyName-{{$index}}" value="{{StringPtr $element.CompanyName}}"/></td>
        </tr>
        <tr>
            <td>Location:   </td>
            <td><input type="text" name="Job-Location-{{$index}}" value="{{StringPtr $element.Location}}"/></td>
        </tr>
        <tr>
            <td>Industry:   </td>
            <td><input type="text" name="Job-Industry-{{$index}}" value="{{StringPtr $element.Industry}}"/></td>
        </tr>
        <tr>
            <td>Start:   </td>
            <td><input type="text" name="Job-Start-{{$index}}" value="{{MonthYearString $element.Timespan.StartTimestamp.Epoch}}"/></td>
        </tr>
        <tr>
            <td>End:    </td>
            <td><input type="text" name="Job-Stop-{{$index}}" value="{{MonthYearString $element.Timespan.StopTimestamp.Epoch}}"/></td>
        </tr>
        <tr>
            <td style='vertical-align: top;'>Summary:    </td>
            <td><textarea style='height: 5em;' name="Job-Summary-{{$index}}">{{StringPtr $element.Summary}}</textarea></td>
        </tr>
        </table>
        <br>
    {{else}}
    &lt;&lt; None &gt;&gt;
    <br>
    {{end}}

    <h2>Education</h2>
    <label>
    <input type="hidden"
        name="EduCount"
        value="{{len .Profile.Education}}"
        />
    </label>
    {{range $index, $element := .Profile.Education}}
        <table>
        <tr>
            <td>Degree:  </td>
            <td><input type="text" name="Edu-Degree-{{$index}}" value="{{StringPtr $element.Degree}}"/></td>
        </tr>
        <tr>
            <td>Emphasis:</td>
            <td><input type="text" name="Edu-Emphasis-{{$index}}" value="{{StringPtr $element.Emphasis}}"/></td>
        </tr>
        <tr>
            <td>School:   </td>
            <td><input type="text" name="Edu-SchoolName-{{$index}}" value="{{StringPtr $element.SchoolName}}"/></td>
        </tr>
        <tr>
            <td>Start:   </td>
            <td><input type="text" name="Edu-Start-{{$index}}" value="{{MonthYearString $element.Timespan.StartTimestamp.Epoch}}"/></td>
        </tr>
        <tr>
            <td>End:    </td>
            <td><input type="text" name="Edu-Stop-{{$index}}" value="{{MonthYearString $element.Timespan.StopTimestamp.Epoch}}"/></td>
        </tr>
        <tr>
            <td style='vertical-align: top;'>Summary:    </td>
            <td><textarea style='height: 5em;' name="Edu-Summary-{{$index}}">{{StringPtr $element.Summary}}</textarea></td>
        </tr>
        </table>
        <br>
    {{else}}
    &lt;&lt; None &gt;&gt;
    <br>
    {{end}}

    <h2>Status</h2>
    <label>
    <input type="checkbox"
        name="IsExpert"
        value="IsExpert"
        {{if BoolPtr .Profile.IsExpert}}checked{{end}}
        >Is Expert
    </label>
    <br>

    <label>
    <input type="checkbox"
        name="IsApproved"
        value="IsApproved"
        >Approve Profile
    </label>
    <br>

    <br>
    <input type="submit" value="Update" class="submit">
    </form>
{{end}}
</div>
</div>

</body>
</html>
{{end}}
