{{define "UpdateProfile.html"}}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=device-width, minimal-ui">
<link href="./favicon.png"  type="image/png" rel="shortcut icon">
<title>{{ .AppName }} : Update Profile</title>
<link rel="stylesheet" type="text/css" href="style-admin.css">
<script src="script.js"></script>
<style>
td:nth-child(1) {
    text-align: right;
}
pre {
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0;
}
</style>
</head>

<body>
<div id="header">
<div>
<img id="logo" src="Logo.png" alt="Logo">
<div>
<span id="app-name">{{.AppName}}</span>
</div>
</div>
</div>

<div id="stats-body">
<h1>User Profile</h1>
<div id='form-div'>

<p class="error">{{.ErrorMessage}}</p>

{{if .Profile}}
    <form method="post" action="updateprofile">
    <label>
    <input type="hidden"
        placeholder="UserID"
        name="UserID"
        value="{{.Profile.UserID}}"
        />
    </label>

    <label>
    <input type="text"
        placeholder="Name"
        name="Name"
        value="{{.Profile.Name}}"
        />
    </label>
    <br>

    <label>
    <textarea style='height: 4.5em;'
        placeholder="Expertise"
        name="Expertise"
    >{{.Expertise}}</textarea>
    </label>
    <br>

    <label>
    <textarea style='height: 14.5em;'
        placeholder="Background"
        name="BackgroundSummary"
        >{{.Profile.BackgroundSummary}}</textarea>
    </label>
    <br>

    <h2>Work Experience</h2>
    {{range $index, $element := .Profile.Employment}}
        <table>
        <tr><td>Job Title:  </td><td>{{$element.JobTitle}}</td></tr>
        <tr><td>Company:    </td><td>{{$element.CompanyName}}</td></tr>
        <tr><td>Location:   </td><td>{{$element.Location}}</td></tr>
        <tr><td>Industry:   </td><td>{{$element.Industry}}</td></tr>
        <tr><td>Summary:    </td><td></td></tr>
        </table>
        <pre>{{$element.Summary}}</pre>
        <br>
    {{else}}
    &lt;&lt; None &gt;&gt;
    <br>
    {{end}}

    <h2>Education</h2>
    {{range $index, $element := .Profile.Education}}
        <table>
        <tr><td>Degree:     </td><td>{{$element.Degree}}</td></tr>
        <tr><td>Emphasis:   </td><td>{{$element.Emphasis}}</td></tr>
        <tr><td>School:     </td><td>{{$element.SchoolName}}</td></tr>
        <tr><td>Summary:    </td><td></td></tr>
        </table>
        <pre>{{$element.Summary}}</pre>
        <br>
    {{else}}
    &lt;&lt; None &gt;&gt;
    <br>
    {{end}}

    <h2>Status</h2>
    <label>
    <input type="checkbox"
        name="IsExpert"
        value="IsExpert"
        {{if BoolPtr .Profile.IsExpert}}checked{{end}}
        >Is Expert
    </label>
    <br>

    <label>
    <input type="checkbox"
        name="IsAppoved"
        value="IsAppoved"
        >Approve Profile
    </label>
    <br>

    <br>
    <input type="submit" value="Update" class="submit">
    </form>
{{end}}
</div>
</div>

</body>
</html>
{{end}}
